
body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-image: url('photo_1.jpg');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-attachment: fixed;
    height: 400px;
    
}

#weather-dashboard {
    max-width: 600px;
    margin: auto;
}

form {
    margin-bottom: 20px;
}


