
body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-image: url('photo_1.jpg'); /* Replace with the actual path to your image */
    background-size: cover; /* Ensures the image covers the entire screen */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-attachment: fixed;
    
}

#weather-dashboard {
    max-width: 600px;
    margin: auto;
}

form {
    margin-bottom: 20px;
}


